.NotePageNav__back-button {
  margin: 45px 20px 25px auto;
}
.NotePageNav__back-button:hover {
  background-color: #a4b2b5;
}

.NotePageNav__folder-name {
  color: #5d9090;
  font-family: var(--custom-font);
  font-size: 40px;
  height: 50vh;
  margin: 0 0 0 auto;
  text-orientation: upright;
  width: 75px;
  writing-mode: vertical-lr;
}

.Noteful-form {
  background-color: white;
}
