.App {
  --custom-font: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Satisfy', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif, cursive;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 0.1fr 7fr;
  min-height: 100vh;
}

.App__nav {
  background-color: white;
  grid-column: 1;
  grid-row: 3;
  height: 100vh;
  overflow: auto;
}

.siteTitle {
  font-family: 'Crimson Text', serif;
  font-size: 3.2em;
  grid-column: 1;
}

.App__header {
  background-color: white;
  align-self: center;
  justify-self: center;
}

.App__header a {
  color: rgb(110, 151, 151);
  font-size: 1.4em;
  text-decoration: none;
}

.App__main {
  background-color: none;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column: span 2;
  height: calc(100vh - 120px);
  overflow: auto;
}

.NavCircleButton {
  background-color: #d2d1d1;
  border-radius: 3px;
  border: 0;
  color: black;
  font-size: 12px;
  font-weight: bold;
  height: 50px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  width: 100px;
}

.NoteListMain__button-container {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: center;
  grid-column: 1;
  grid-row: 2;
}

a.NavCircleButton {
  padding: 7px 8px 11px;
  color: #474646;
  font-size: 1em;
}

.NavCircleButton:hover {
  cursor: pointer;
  color: white;
  background-color: #acabab;
}

.NoteListMain__add-note-button,
.NoteListNav__add-folder-button {
  margin: 0 4%;
  padding: 0;
}

#text {
  vertical-align: middle;
}
